.actions/**
.github/**
.vscode/**
node_modules/**
src/**
test/**
references/**
scripts/**
.env
.env.*
.gitignore
.gitmodules
.prettierignore
webpack.config.js
bun.lock
package-lock.json
*.vsix
dist/**/*.map